alias zshrc='nano ~/.zshrc;omz reload'
alias cp='nocorrect cp'
alias edit-colors='nano ~/.termux/color* ; termux-reload-settings'
alias egrep='grep -E'
alias fgrep='grep -F'
alias globurl='noglob urlglobber '
alias grep='grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox,.venv,venv}'
alias history=omz_history
alias l='ls -lah'
alias la='ls -lAh'
alias ll='ls -lh'
alias ls='ls --color=tty'
alias lsa='ls -lah'
alias man='nocorrect man'
alias md='mkdir -p'
alias mkdir='nocorrect mkdir'
alias mv='nocorrect mv'
alias rd=rmdir
alias run-help=man
alias su='nocorrect su'
alias sudo='nocorrect sudo'
alias which-command=whence
